@keyframes opc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes downtoup {
    0% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes selfsize {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.1, 1.1);
    }
}


.body {
    width: 100vw;
    margin: 0;

}

a img {
    max-width: 100%;
    height: auto;
}

.homepage {
    height: 100vh;
    width: 100vw;
    animation: 2s ease-out 0s 1 opc;
    overflow: hidden;
}

.h_left {
    height: 100vh;
    overflow: hidden;
}

.forbg {
    height: 100vh;
    background-image: url(pics/pics/burn.jpg);
    background-size: cover;
    background-position: center;
    animation: 60s ease-out 0s forwards selfsize;
}

.h_right {
    height: 100vh;
    overflow: hidden;
    animation: 2s ease-out 0s 1 downtoup;
}

.h_select {
    line-height: 0;
    position: fixed;
    right: 0px;
    width: 50px;
    height: 50px;
    background: #3D467D;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease 0s;
}

.strike1{
    margin: auto;
    margin-top: 12px;
    border-radius: 5px;
    width: 25px;
    height: 4px;
    background: #ffffff;
}

.strike2{
    margin: auto;
    margin-top: 6px;
    border-radius: 5px;
    width: 25px;
    height: 4px;
    background: #ffffff;
}

.strike3{
    margin: auto;
    margin-top: 6px;
    border-radius: 5px;
    width: 25px;
    height: 4px;
    background: #ffffff;
}

.h_select2 {
    line-height: 0;
    position: fixed;
    overflow: hidden;
    right: -50px;
    width: 50px;
    height: 150px;
    border-bottom-left-radius: 10px;
    background: #3D467D;
    transition: all 0.3s ease 0s;
}

.ball1{
    margin: auto;
    margin-top: 15px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: #ffffff;
}

.ball2{
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: #ffffff;
}

.ball3{
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    background: #ffffff;
}


.big_select:hover .h_select {
    transform: translateX(-50px);
}

.big_select:hover .h_select2 {
    transform: translateX(-50px);
}

.h_motto {
    writing-mode: vertical-lr;
    font-family: 'Noto Serif TC', serif;
    font-size: 100px;
    margin: 0px auto;
    margin-top: 25vh;
}

.h_logo{
    width: 250px;
    margin: 0px auto;
    margin-top: 5vh;
}



.h_logo img {
    transition: all 0.3s ease 0s;
}

.h_logo:hover img {
    transform: scale(1.1, 1.1);
    opacity: 0.6; 
}
